<!-- Loops over each object in the users array -->
<div>
{{#each users as |users| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
     
      <a href="{{users.profile_picture}}">{{users.user_name}} - {{users.email}}</a>
    </h2>
    
  </div>
  
</div>
{{/each}}
</div>
