<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="./" />


    <title>User Profile</title>
  </head>


  <div class="container">
    <div class="profile-header">
      <div class="profile-img">
        <img src="" width="200" alt="">
      </div>
<h1 class="title">Fakebook</h1>
  <div class="profile-nav card">
    <h2 class="user-name"> Welcome, user!</h2>
        <div class="info">
        <h3 class="header1">Account Info</h3>
            <p class="names">Name:</p>
            <p class="member">Member Since:</p>
        <h3 class="basic-info">Basic Info</h3>
          <p class="gender">Gender:</p>
          <p class="city-state">Hometown:</p>
          <p class="birthday">Birthday:</p>
        </div>
    </div>

    <div class="left-column card">
        <h3 class="bio">Bio:</h3>
            <p class="insert-bio">...</p>
    </div>

<div class="profile card">
    <div class="notification">
      <i class="fa fa-bell"></i>
      <span class="alert-message">5</span>
    </div>
    <div class="main">
        <div class="left-side">
            <p class="phone">
                <i class="fa fa-phone">
                </i>phone number</p>
                <p class="email"><i class="fa fa-envelope">
                </i>email address</p>
        </div>
    </div>
</div>

  <div class="make-post">
    <button type="submit" class="btn btn-primary">Post</button>
  </div>
  